<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>    <!--  
	<plugins>
	
		<plugin interceptor="com.andy.ssm3.common.PagePlugin">
			<property name="dialect" value="sqlServer"/>
			<property name="pageSqlId" value=".*List.*"/>
		</plugin>
	</plugins>-->
</configuration>